/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {  }
/* 
// Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {  }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 992px) { 
    .our-text p {
        width: 50%;
        margin: auto;
    }
 }
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 970px) { 
    .blog-item h4 {
        padding-top: 0;
        font-size: 19px;
        line-height: 36px;
    }
   
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 930px) { 
    .header-left {
        width: 20%;
    }
   
    .header-section a {
        font-size: 20px; 
    }
    .header-right {
        float: right;
        width: 80%;
    }
    .blog-item h4, p {
      
     padding-bottom: 0px;
    }
 }
 @media (max-width: 820px){
    .service-item {   
        width: 50%;
    }
    .our-text2 p {
        margin: auto;
        width: 50%;
    }
 }
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 800px) { 
    .header-left {
        width: 15%;
    }
    .header-section a {
        font-size: 15px; 
    }
    .header-right {

        width: 85%;
    }
    .header-right ul {
        text-align: center;
    }
    .header-right ul li a {
        padding: 0 16px;
    }
    .banner-section {
      
        padding: 64px 0;
    }
    .our-text p {
        font-size: 17px;
        width: 50%;
        margin: auto;
    }
    .our-text h2 {
        padding: 16px 0;
    }
    .banner-text h1 {
        font-size: 43px;
      
    }
    .banner-text h5 {
        font-size: 19px;
    }
    .service-item {
        width: 50%;
    }
    .services-scetion {
        padding-top: 0;
    }
    .blog-item img {
        width: 352px;

    }
    .blog-item img {
        margin-right: 20px;
    }
    .blog-item h4 {
        padding-bottom: 0;
    }
    .blog-item h4 {
        padding-top: 0;
        font-size: 18px;
        line-height: 45px;
    }
    .blog-item p {
        padding-bottom: 16px;
        line-height: 23px;
    }
    .blog-item h4 {
        line-height: 23px;
    }
    .our-text2 p {

        font-size: 16px;
        width: 50%;
        margin: auto;
    }
 }


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { 
    .bolog-img {
        width: 100%;
        height: 381px;
        text-align: center;
    }
    .blog-item p {
        width: 75%;
        margin: auto;
    }
    .bolog-text {
        text-align: center;
    }
    .blog-item h4 {
        line-height: 32px;
        padding-top: 15px;
    }
    
    .header-section label #btn {
        display: block;
    }
    .header-section a {
        display: none;
    }

    .header-right ul{
        position: fixed; 
        width: 100%;
        height: 100vh;
        top: 0;
        text-align: center;
        left: 0; 
        background: #0d0c0ced;
        transition: all .5s;
        visibility: hidden;
        opacity: 0;
    }
   
    .header-right .check-manu:checked ~ ul {
         visibility: visible;
         opacity: 1;
         height: 100%;
     }  






     .header-right ul li {
        display: block;
        margin: 17px 0 -33px 0;
        line-height: 30px;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .banner-section {
        padding: 35px 0;
    }
    .banner-text h1 {
        font-size: 31px;
    }
    .banner-text h5 {
        font-size: 15px;
    }
    .our-text p {
      
        width: 78%;
        margin: auto;
    }
    .our-text h2 {

        font-size: 27px;
    }
    .our-text2 h2 {

        font-size: 29px;
        color: #1B2451;
    }
    .service-item2 {
        float: right;
        width: 50%;
     
    }
 }
 @media (max-width: 450px){
    .footer-bootom p {
        font-size: 14px;
    }
    .our-text2 p {
        width: 82%;
    }
    .blog-item p {
        width: 96%;
    }
    .service-item {

        padding: 10px;
    }
    .services-scetion {
        padding: 6px;
    }
 }
 
 /* // Small devices (landscape phones, less than 768px) */
 @media (max-width:414px) { 
    .services-scetion {
        padding: 0;
    }
    .line.clearefix {
        margin: 30px;
    }
    .our-service {
        padding: 0;
    }
    .banner-text h1 {
        font-size: 23px;
    }
    .banner-text h5 {
        font-size: 15px;
        width: 50%;
        margin: auto;
    }
  }
 
 /* // Small devices (landscape phones, less than 768px) */
 @media (max-width:375px) { 
    .our-text p {
        padding-bottom: 15px;
    }
  }

  @media (max-width:360px) { 
    .banner-text h5 {
        width: 57%;
    }
    .our-text p {
        width: 95%;
        margin: auto;
    }
    .our-text p {
        padding-bottom: 0;
    }
    .line.clearefix {
        margin: 8px;
    }
    .blog-item p {
        width: 98%;
    }
    .blog-item h4 {
        padding-top: 0;
    }
    .our-service2 {
        margin-top: 10px;
        padding: 0;
    }
    .our-text2 p {
        width: 95%;
        font-size: 14px;
    }
    .service-item2 {
        width: 100%;
    }

   }


/* // Small devices (landscape phones, less than 768px) */
@media (max-width:312px) { 
    .service-item {
        padding: 9px;
        width: 100%;
    }
    .blog-item p {
        width: 98%;
        font-size: 14px;
        line-height: 18px;
    }
 }


  
  
 
 
 